/* start dark mode styling */


  header {
    background: url("https://cdn.glitch.global/89b1c1b7-8f97-4fca-879c-f09eb58c5e59/pixel_pureskynight.png?v=1733187036381");
  }
/* end dark mode styling */

* {
  box-sizing: border-box;
}

body {
  padding: 2px;
  line-height: 20px;
  font-family: "ocr-a-std", monospace;
 

 
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
  text-align: center;
  color: #edb651;
  line-height: 8px;
  max-width: 100%;
  margin: 0.1em auto;
}

.ascii-box {
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 100%;
  margin: 0.1em auto;
}

.header-box {
  background-color: rgba(38, 5, 29, 0.7);
  width: auto;
  max-width: 85%;
  border-radius: 30px;
  margin: 0.8em auto;
  outline: 3px dotted rgba(38, 5, 29);
  outline-offset: 1.5px;
  text-align: left;
  line-height: 25px;
  
}

.footer-box {
  background-color: rgba(38, 5, 29, 0.5);
  width: auto;
  max-width: 10%;
  border-radius: 30px;
  margin: 1em auto;
  outline: 3px dotted rgba(38, 5, 29);
  outline-offset: 1.5px;
  text-align: center;
  line-height: 20px;
  
}


.container {
  max-width: 90rem;
  margin: 5vw auto 12px auto;
 
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  gap: 5px;
}
  /* container background pattern */
  
  /*background-image: src="https://cdn.glitch.global/9b1ada37-7e81-43b3-8c4f-54e5c9654f9e/cycloneblu.png?v=1724268179055";
}
/* these control the column widths */
.small {
  flex: 1 1 25%;
}
.large {
  flex: 1 1 82%;
}
.full {
  flex: 1 1 100%;
}
.half {
  flex: 1 1 45%;
}
.third {
  flex: 1 1 25%;
}
.quarter {
  flex: 1 1 20%;
}

header {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
 border: 3px dashed rgba(38, 5, 29);
  border-radius: 30px;
  position: relative;
  font-family: "hydrophilia-liquid", sans-serif;
  
}
header span {
  font-size: 2rem;
  position: absolute;
  bottom: 5px;
  right: 0px;
  margin: 10px;
  font-weight: bold;
  text-shadow: 3px 3px #26011e;
  color: #b6ff57;
}

h5 a:link {
  color: #ffcc6e;
}
h5 a:visited {
  color: #ffcc6e;
}
h5 a:hover,
h5 a:focus {
  color: #81f542;
}


h4 a:link {
  color: #360721;
}
h4 a:visited {
  color: #ffcc6e;
}
h4 a:hover,
h4 a:focus {
  color: #81f542;
}


footer {
  text-align: center;
  margin-bottom: 5vw;
  font-size: 1.5rem;
  color: #360721;
}
footer a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px;
 
}


h1:hover {
  color: #edb651;
}
h2 {
  font-family: "hydrophilia-iced", sans-serif;
  font-size: 1.9rem;
  font-weight: normal;
  text-align: center;
  border-radius: 5px;
  margin: 0.1em auto;
  border: 1px dashed #edb651;
  color: #d3ff82;
}

h3 {
  font-family: "input-mono", monospace;
  line-height: 5px;
  font-size: 0.8rem;
  font-weight: normal;
  text-align: center;
  color: #d3ff82;
  padding: 3px;
  line-height: 20px;
}


h4 {
  font-family: "input-mono", monospace;
  line-height: 5px;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: #d3ff82;
  padding: 3px;
  line-height: 20px;
}



h5 {
  font-family: "input-mono", monospace;
  line-height: 23px;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
  color: #d3ff82;
  padding: 35px;
 
}

/* prevents overflow on smaller screens */
img {
  max-width: 100%;
 margin:0 auto;
 
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
pre {
  overflow-x: auto;
}




