/* start dark mode styling */


  header {
    background: url("https://cdn.glitch.global/89b1c1b7-8f97-4fca-879c-f09eb58c5e59/pixeltime.png?v=1732764068319");
  }
/* end dark mode styling */

* {
  box-sizing: border-box;
}

body {
  padding: 2px;
  line-height: 20px;
  font-family: "ocr-a-std", monospace;
 

 
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
  text-align: center;
  color: #edb651;
  line-height: 8px;
  max-width: 100%;
  margin: 0.1em auto;
}

.ascii-box {
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 100%;
  margin: 0.1em auto;
}

.header-box {
  background-color: rgba(38, 5, 29, 0.5);
  width: auto;
  max-width: 85%;
  border-radius: 30px;
  margin: 0.8em auto;
  outline: 3px dotted #edb651;
  outline-offset: 1.5px;
  text-align: left;
  
}

.link {
  color: white;
}

.container {
  max-width: 90rem;
  margin: 5vw auto 12px auto;
  border: 2px solid #edb651;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  gap: 5px;
}
  /* container background pattern */
  
  /*background-image: src="https://cdn.glitch.global/9b1ada37-7e81-43b3-8c4f-54e5c9654f9e/cycloneblu.png?v=1724268179055";
}
/* these control the column widths */
.small {
  flex: 1 1 25%;
}
.large {
  flex: 1 1 82%;
}
.full {
  flex: 1 1 100%;
}
.half {
  flex: 1 1 45%;
}
.third {
  flex: 1 1 25%;
}
.quarter {
  flex: 1 1 20%;
}

header {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100px; /* change banner height here*/
 border: 2px ridge #5a7678;
  border-radius: 5px;
  position: relative;
  font-family: "hydrophilia-iced", sans-serif;
}
header span {
  font-size: 2.7rem;
  position: absolute;
  bottom: 5px;
  right: 0px;
  margin: 10px;
  font-weight: bold;
  text-shadow: 3px 3px #edb651;
  color: #26051d;
}

a:link,
a:visited {
  color: #d3ff82;
}

nav a:link,
nav a:visited {
  color: #d3ff82;
}
nav a:hover,
nav a:focus {
  
  color: #edb651;
}

/* optional button styling like in the preview */
div.small > img {
  display: block;
  margin: 5px auto;
  border: 2px ridge #5a7678;
  border-radius: 5px;
}

section {
   border: 2px ridge #5a7678;
  border-radius: 5px;
  background: linear-gradient(#00323c, #12542b);
  padding: 5px;
}

footer {
  text-align: center;
  margin-bottom: 5vw;
  font-size: 0.8rem;
}
footer a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px;
  line-height: 1.2;
}


h1:hover {
  color: #edb651;
}
h2 {
  font-family: "hydrophilia-iced", sans-serif;
  font-size: 1.9rem;
  font-weight: normal;
  text-align: center;
  border-radius: 5px;
  margin: 0.1em auto;
  border: 1px dashed #edb651;
  color: #26051d;
}


h4 {
  font-family: "input-mono", monospace;
  font-size: 0.85rem;
  color: #64c452;
  padding-left: 12px;
  line-height: 19px;
}


h5 a:link,
h5 a:visited {
  color: #d3ff82;
}
h5 a:hover,
h5 a:focus {
  color: #edb651;
}

h5 {
  font-family: "input-mono", monospace;
  line-height: 20px;
  font-size: 1.1rem;
  font-weight: normal;
  text-align: left;
  color: #d3ff82;
  padding: 20px
}

/* prevents overflow on smaller screens */
img {
  max-width: 100%;
}
pre {
  overflow-x: auto;
}




